<div class="wrapper">
  <div class="board-title">
    <span class="mat-headline">{{board.title}}</span>
    <a routerLink="" mat-raised-button color="accent">
      Go to board list
    </a>
  </div>
  <div class="column-list">
    <div class="column-item" *ngFor="let column of board.columns">
      <div class="column-item__wrapper" (click)="onColumnClick($event, column.id)">
        <span class="column-item__title">{{column.title}}</span>
        <button mat-button>
            <mat-icon>delete</mat-icon>
        </button>
      </div>
      <ul class="task-list">
        <li class="task-item" (click)="onAddTask(column)">
          <div class="task-item__wrapper">
            <span>Add new task</span>
            <mat-icon>add_circle</mat-icon>
          </div>
        </li>
        <li class="task-item" *ngFor="let task of column.tasks">
          <app-task-item [task]="task"></app-task-item>
        </li>
      </ul>
    </div>
    <div class="column-item">
      <button mat-button class="add-column" (click)="onEditColumn()">
        <div class="column-item__wrapper">
          <span>Add new column</span>
          <mat-icon>add_circle</mat-icon>
        </div>
      </button>
    </div>
  </div>
</div>
