@import './../../../../SCSS/themes/variables.scss';

.login-page {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.wrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  &__button-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  &__btn{
    width: 3rem;
    color: #ffffff;
    background-color: $accent-color;
  }

  &__title {
    text-align: center;
    align-self: center;
    color: #FFC107;
  }
}


.login-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  border-right: 10px solid $primary-color;
  border-bottom: 9px solid #d19f08;
  border-radius: 1rem;

  &__info {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 2rem;
    color: $warn-color;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__btn {
    align-self: end;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: $accent-color;
    color: $primary-color;
  }
}
