<div class="auth-page section">
  <div class="wrapper">
    <div class="signup-box">
      <form class="signup-form" [formGroup]="formSignUp" (ngSubmit)="submitNewUser()">
        <h2 class="signup-box__title">{{titles.headTitle}}</h2>
        <p class="signup-box__info">{{titles.describe}}</p>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>{{titles.name}}</mat-label>
          <input matInput required formControlName="name">
          <mat-error *ngIf="formSignUp.controls['name'].hasError('required')">
            Please, enter your name
          </mat-error>
          <mat-error *ngIf="formSignUp.controls['name'].errors?.['minlength']">
            Your name must have min 2 elements
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>{{titles.login}}</mat-label>
          <input matInput required formControlName="login">
          <mat-error *ngIf="formSignUp.controls['login'].errors?.['required']">Please, enter your login</mat-error>
          <mat-error *ngIf="formSignUp.controls['login'].errors?.['minlength']">
            Your login must have min 4 elements
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>{{titles.password}}</mat-label>
          <input matInput formControlName="password" required type="password"
            [type]="!hidePassword ? 'password' : 'text'"
            pattern="^(?=.*[A-Z].*[A-Z])(?=.*[!@#$&* .,])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{8,}$"
            autocomplete="on">
          <mat-icon style="width: 0em;margin-left: -1.5rem;" matSuffix (click)="hidePassword = !hidePassword">
            {{hidePassword
            ? 'visibility_off' :
            'visibility'}}</mat-icon>
          <mat-error *ngIf="formSignUp.controls['password'].errors?.['required']">Please, enter a password</mat-error>
          <mat-error *ngIf="formSignUp.controls['password'].invalid">
            You password must have lower
            case, upper case, symbols
            and
            numbers
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>{{titles.repeat}}</mat-label>
          <input matInput formControlName="password" required type="password"
            [type]="hidePassword ? 'password' : 'text'"
            pattern="^(?=.*[A-Z].*[A-Z])(?=.*[!@#$&* .,])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{8,}$"
            autocomplete="on">
          <mat-icon style="width: 0em;margin-left: -1.5rem;" matSuffix (click)="hidePassword = !hidePassword">
            {{hidePassword
            ? 'visibility_off' :
            'visibility'}}</mat-icon>
          <mat-error *ngIf="formSignUp.controls['password'].errors?.['required']">Please, enter a password</mat-error>
          <mat-error *ngIf="formSignUp.controls['password'].invalid">
            You password must have lower
            case, upper case, symbols
            and
            numbers
          </mat-error>
        </mat-form-field>
        <button class=" signup-form__btn" mat-raised-button color="accent" type="submit" [disabled]="!formSignUp.valid">{{titles.submit}}</button>
      </form>
      <button (click)="getUsers()">click</button>
    </div>
  </div>
</div>
