<section class="footer">
  <div class="wrapper">
    <ul class="footer-content">
      <li class="footer-content__item">
        <a class="footer-content__item_icon" href="https://rs.school/" mat-menu-item>RS SCHOOL</a>
      </li>
      <li class="footer-content__item">{{year}}</li>
      <li class="footer-content__item">
        <ul class="list-dev">
          <li>
            <a class="list-dev__link" href="https://github.com/tatafox" target="_blank">Tatafox</a>
          </li>
          <li>
            <a class="list-dev__link" href="https://github.com/shaustruk" target="_blank">Katsiaryna</a>
          </li>
          <li>
            <a class="list-dev__link" href="" target="_blank">???</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
