<section class="footer">
  <div class="wrapper">
    <div class="footer-content mat-h3">
      <div class="footer-content__item">
        <a class="footer-content__item_icon" href="https://rs.school/">
          <img src="../../../../assets/icons/rs_school.svg" alt="rs school icon">
        </a>
      </div>
      <div class="footer-content__item">{{year}}</div>
      <div class="footer-content__item">
        <ul class="list-dev">
          <li>
            <a class="list-dev__link" href="https://github.com/tatafox" target="_blank">Tatafox</a>
          </li>
          <li>
            <a class="list-dev__link" href="https://github.com/shaustruk" target="_blank">Katsiaryna</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
