.footer {
  height: 7vh;
  background-color: black;
}
.footer-content {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
height: 100%;

  &__item{
    color: white;

    &_icon {
      color: white;
    }
  }

}

.list-dev {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;


  &__link{
    color: white;
  }
}
