<div class="column-item__wrapper" (click)="onColumnClick($event, column.id)">
  <span class="column-item__title" *ngIf="!editColumnFlag; else editBlock">{{column.title}}</span>
  <ng-template #editBlock>
    <div class="column-item__input">
      <div class="column-item__input-btn">
        <button mat-button class="add-column" (click)="onEditColumn()">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-button class="add-column" (click)="onCancelEditColumn()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <input [value]="column.title" #inputTitle>
    </div>
  </ng-template>
  <button mat-button class="column-item__delete">
    <mat-icon>delete</mat-icon>
  </button>
</div>
