.wrapper {
  height: 84vh;
  display: flex;
  flex-direction: column;

}

.error-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

      &__btn-home {
      width: 5rem;
      margin: 2rem 0 5rem 0;
      }

     &__icon-home  {
    color: yellow;
    font-size: 2rem;


    }

    &__content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

    }
  &__icon{
    color: yellow;
  }

  &__text {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;

    &_error{
      margin-bottom: 1rem;
    }

  }

}
.mat-focus-indicator {
  margin-bottom: 7rem;
}


