<div class="error-page section">
  <div class="wrapper">
    <div class="error-box">
      <button class="error-box__btn-home" mat-icon-button>
        <mat-icon class="error-box__icon-home">home</mat-icon>
      </button>
      <div class="error-box__content">
        <div>
          <mat-icon class="error-box__icon">error</mat-icon>
        </div>
        <div class="error-box__text">
          <p class="error-box__text_error">Error</p>
          <p>Something went wrong...</p>
        </div>
      </div>
    </div>
  </div>
</div>
