<div class="error-page section">
  <div class="wrapper">
    <div class="error-box">
      <div class="error-box__content">
          <div class="error-img">
            <img src="../../../../assets/icons/cat.png">
          </div>
        <div class="error-box__text">
          <p>Something went wrong...</p>
          <p>The cat does not find anything here</p>
          <button class="error-box__btn-home" (click)="goHome()" mat-raised-button color="accent">
            Go home
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
