<div class="edit-page section">
  <div class="wrapper">
    <div class="edit-box">
      <button class="edit-box__btn" (click)="adminPage()" mat-raised-button color="000000" type="submit">Home</button>
      <div class="edit-content">
        <p class="edit-content__info">{{titles.describe}}</p>
        <form class="edit-form" [formGroup]="formEdit" (ngSubmit)="editUser()">
          <h2 class="edit-box__title">{{titles.headTitle}}</h2>
          <mat-form-field appearance="fill">
            <mat-label>{{titles.name}}</mat-label>
            <input matInput required formControlName="name" [placeholder]="nameCurrent">
            <mat-error *ngIf="formEdit.controls['name'].errors?.['required']">Please, enter your name</mat-error>
            <mat-error *ngIf="formEdit.controls['name'].errors?.['minlength']">
              Your name must have min 2 elements
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{titles.login}}</mat-label>
            <input matInput required formControlName="login" [placeholder]="loginCurrent">
            <mat-error *ngIf="formEdit.controls['login'].errors?.['required']">Please, enter your login</mat-error>
            <mat-error *ngIf="formEdit.controls['login'].errors?.['minlength']">
              Your login must have min 4 elements
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{titles.password}}</mat-label>
            <input matInput formControlName="password" required type="password" [type]="hide ? 'password' : 'text'"
              pattern="^(?=.*[A-Z].*[A-Z])(?=.*[!@#$&* .,])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{8,}$"
              autocomplete="on">
            <mat-icon style="width: 0em;margin-left: -1.5rem;" matSuffix (click)="hide = !hide">{{hide ?
              'visibility_off'
              :
              'visibility'}}</mat-icon>
            <mat-error *ngIf="formEdit.controls['password'].errors?.['required']">Please, enter a password</mat-error>
            <mat-error *ngIf="formEdit.controls['password'].invalid">
              You password must have lower
              case, upper case, symbols
              and
              numbers
            </mat-error>
          </mat-form-field>
          <button class="edit-form__btn" mat-raised-button color="000000" type="submit"
            [disabled]="!formEdit.valid">{{titles.submit}}</button>
          <button class="edit-form__btn" mat-raised-button color="000000" type="button"
            (click)="adminPage()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
