<div class="edit-page section">
  <div class="wrapper">
    <div class="edit-box">
      <button i18n="title btn | The tittle of button" class="edit-box__btn" (click)="adminPage()" mat-raised-button
        color="000000" type="submit">Home</button>
      <div class="edit-content">
        <p class="edit-content__info" i18n="info edit-form | The instructions for form">{{titles.describe}}</p>
        <form class="edit-form" [formGroup]="formEdit" (ngSubmit)="editUser()">
          <h2 i18n="title edit-form | The main title" class="edit-box__title">{{titles.headTitle}}</h2>
          <mat-form-field appearance="fill">
            <mat-label i18n="title name | The tittle of input">{{titles.name}}</mat-label>
            <input matInput required formControlName="name" [placeholder]="nameCurrent">
            <mat-error *ngIf="formEdit.controls['name'].errors?.['required']"
              i18n="description error name | The description error for forms">Please, enter your name</mat-error>
            <mat-error *ngIf="formEdit.controls['name'].errors?.['minlength']"
              i18n="description2 error name| The description error for forms">
              Your name must have min 2 elements
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label i18n="title login | The tittle of input">{{titles.login}}</mat-label>
            <input matInput required formControlName="login" [placeholder]="loginCurrent">
            <mat-error *ngIf="formEdit.controls['login'].errors?.['required']"
              i18n="description error login | The description error for forms">Please, enter your login</mat-error>
            <mat-error *ngIf="formEdit.controls['login'].errors?.['minlength']"
              i18n="description2 error login | The description error for forms">
              Your login must have min 4 elements
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label i18n="title password | The tittle of input">{{titles.password}}</mat-label>
            <input matInput formControlName="password" required type="password" [type]="hide ? 'password' : 'text'"
              pattern="^(?=.*[A-Z].*[A-Z])(?=.*[!@#$&* .,])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{8,}$"
              autocomplete="on">
            <mat-icon style="width: 0em;margin-left: -1.5rem;" matSuffix (click)="hide = !hide">{{hide ?
              'visibility_off'
              :
              'visibility'}}</mat-icon>
            <mat-error *ngIf="formEdit.controls['password'].errors?.['required']"
              i18n="description error password | The description error for forms">Please, enter a password</mat-error>
            <mat-error *ngIf="formEdit.controls['password'].invalid"
              i18n="description error password2 | The description error for forms">
              You password must have lower
              case, upper case, symbols
              and
              numbers
            </mat-error>
          </mat-form-field>
          <button class="edit-form__btn" mat-raised-button color="000000" type="submit" [disabled]="!formEdit.valid"
            i18n="title btn submit| The tittle of button">{{titles.submit}}</button>
          <button class="edit-form__btn" mat-raised-button color="000000" type="button" (click)="adminPage()"
            i18n="title btn cancel | The tittle of button">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>