<h1 mat-dialog-title>
  {{ data.editTask === true ? 'Edit' : 'Add new' }} task
</h1>

<div mat-dialog-content>
  <p>Enter task title</p>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <p>Enter task description</p>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
  <h4>Please, select user</h4>
  <mat-form-field appearance="fill">
    <mat-label>User</mat-label>
    <mat-select [(ngModel)]="data.userId" name="food">
      <mat-option *ngFor="let user of userList" [value]="user.id">
        {{user.login}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div class="button-wrapper" mat-dialog-actions>
  <button mat-flat-button color="accent" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary"  [mat-dialog-close]="data">
    {{ data.editTask === true ? 'Edit' : 'Add' }}
  </button>
</div>
