@import "../../../../SCSS/themes/variables.scss";

.header {
  height: 120px;
  padding: 0.5rem;
  background: $primary-color;
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 10;
  transition: 0.3s;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  height: 100%;
}

// mat-form-field {
//   margin-top: 20px;
// }

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  gap: 1rem;

  &__menu{
    display: flex;
    flex-direction: row;
  }

  &__menu_icon {
    width: 2rem;
    height: 2rem;
    margin-left: 10px;
  }

  &__btn_btn{
    background-color: black;
    color: white;
  }

  &__search {
    width: 80%;
  }

  .example-full-width {
    width: 100%;
  }

}

.translate-link  {
  color: aliceblue;
}


@media screen and (max-width: 800px) {
  .header-box {
  gap: 2rem;
  }
}

@media screen and (max-width: 620px) {
  .wrapper {
    padding: 0 1rem;
  }

  .header-content {
    display: flex;
    justify-content: center;
    gap: 0;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;

    &__btb_btn {
    align-self: center;
    width: 5rem;
    }
 }

 .header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

 .translate {
   gap: 1rem;
   order: -1;
 }
}

@media screen and  (max-width: 440px) {
  .header-menu {
    order: 0;
  }

  .header-box {
    flex-direction: column;
    gap: 0;
  }

  .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
  }

  .header {
    height: 180px;
  }

  .translate {
    display: flex;
    flex-direction: row;
  }
}

