@import "../../../../styles";

.header {
  height: 120px;
  padding: 0.5rem;
  background: linear-gradient($primary-color, #ffedb4);
}

.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.header-content{
  display: flex;
  align-items: center;
  width: 70%;
  gap: 1rem;

  &__menu{
    display: flex;
    flex-direction: row;
  }

  &__menu_icon {
    width: 2rem;
    height: 2rem;
  }

  &__btn_btn{
    background-color: black;
    color: white;
  }

  &__search {
    width: 80%;
  }

  .example-full-width {
    width: 100%;
  }
}
