@import "../../../../styles";

.header {
  height: 120px;
  padding: 0.5rem;
  background: $primary-color;
  position: sticky;
  top: 0;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  height: 100%;
}

mat-form-field {
  margin-top: 20px;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  gap: 1rem;

  &__menu{
    display: flex;
    flex-direction: row;
  }

  &__menu_icon {
    width: 2rem;
    height: 2rem;
    margin-left: 10px;
  }

  &__btn_btn{
    background-color: black;
    color: white;
  }

  &__search {
    width: 80%;
  }

  .example-full-width {
    width: 100%;
  }
}
