<header color="primary" class="header">
  <div class="wrapper">
    <div class="header-box">
      <div class="header-content">
        <div class="header-content__search">
          <mat-form-field class="example-full-width" appearance="outline" color="accent">
            <mat-label>Search board</mat-label>
            <input class="header-content__input" matInput placeholder="..." autocomplete="off">
          </mat-form-field>
        </div>
        <div class="header-content__btn">
          <button class="header-content__btn_btn btn btn_dark" mat-flat-button color="accent" (click)="onCreateBoard()">Create new board</button>
        </div>
      </div>
      <div class="header-menu" *ngIf="userName">
        <button mat-button [matMenuTriggerFor]="menu">
          {{userName}}
          <img class="header-content__menu_icon" src="../../../../assets/icons/icon.svg" alt="user icon">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editUser()">edit profile</button>
          <button mat-menu-item (click)="logout()">exit profile</button>
          <button mat-menu-item (click)="deleteUser()">delete profile</button>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
