<section class="successRegistr-message"
  style="min-width: 20rem; border-radius:1rem; border: 1px solid yellow; padding: 1rem; background-color: bisque; text-align: center;">
  <h2 mat-dialog-title i18n="title popup | The tittle of popup">User was not founded!</h2>
  <mat-dialog-content i18n="instruction | description of the situation">Maybe you could start again<br>or sign up
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
  </mat-dialog-actions>
</section>