<div class="auth-page section">
  <div class="wrapper">
    <div class="buttons">
      <button class="buttons__btn" (click)="signUp()" mat-raised-button color="000000" type="submit">Sign
        up</button>
      <button class="buttons__btn" (click)="login()" mat-raised-button color="000000" type="submit">Login</button>
    </div>
    <h2 class="title">Hello! Welcome to Project-Management-App!</h2>
    <div class="describe">
      <h3>The info the team</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium vel inventore saepe, in autem, quibusdam
        placeat, quod facere modi iure omnis aut quas! Incidunt, quam? Iusto est ipsam excepturi libero.</p>
    </div>
  </div>
</div>
