<div class="auth-page section">
  <div class="wrapper">
    <div class="buttons">
      <button class="buttons__btn" (click)="signUp()" mat-raised-button color="000000" type="submit"
        i18n="title btn | The tittle of button">Sign
        up</button>
      <button class="buttons__btn" (click)="login()" mat-raised-button color="000000" type="submit"
        i18n="title btn | The tittle of button">Login</button>
    </div>
    <h2 class="title" i18n="tittle | The tittle of app">Hello! Welcome to Project-Management-App!</h2>
    <div class="describe">
      <h3 i18n="tittle | The title of first page">The info the team</h3>
      <p i18n="text | The description of team">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium vel
        inventore saepe, in autem, quibusdam
        placeat, quod facere modi iure omnis aut quas! Incidunt, quam? Iusto est ipsam excepturi libero.</p>
    </div>
  </div>
</div>
