@import './../../../../styles.scss';
.auth-page {
  display: flex;
  flex-direction: column;
  height: 77vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.buttons {
  display: flex;
  margin-left: auto;
  gap: 1rem;
  margin-bottom: 2rem;

  &__btn{
    border-radius: 0.5rem;
    background-color: $accent-color;
    color: $primary-color;
  }
}

.describe {
  display: flex;
  flex-direction: column;
align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: 900;
}

