<section class="logout-message"
  style="min-width: 20rem; border-radius:1rem; border: 1px solid yellow; padding: 1rem; background-color: bisque; text-align: center;">
  <h2 mat-dialog-title>Delete Account</h2>
  <mat-dialog-content>{{confirmMessage}}
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="dialogRef.close(false)">Cancel</button>
    <button mat-button style="background-color: crimson; color: aliceblue;" (click)="dialogRef.close(true)"
      cdkFocusInitial>Delete</button>
  </mat-dialog-actions>
</section>
